workflows/01 - AI Content Generator.json
{
  "name": "01 - AI Content Generator",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "63a12ab6-68b5-4a51-972e-ccca97975f3a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/15RG5k0Y1pcaB4p7UCGVnIBMZHau35dC3UECD1qKupFQ/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Content Calendar",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15RG5k0Y1pcaB4p7UCGVnIBMZHau35dC3UECD1qKupFQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "6823b6e9-fe34-4ee0-8985-86613392250b",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "byYbhQKQheZxVNH6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a senior marketing copywriter for Spread Capital, a Kenyan financial services company.\n\nUsing the campaign information below, generate a professional Facebook marketing post.\n\nCampaign Information:\n- Campaign: {{$json.Campaign}}\n- Product: {{$json.Product}}\n- Audience: {{$json.Audience}}\n- Platform: {{$json.Platform}}\n- Topic: {{$json.Topic}}\n- Goal: {{$json.Goal}}\n- CTA: {{$json.CTA}}\n- Image Style: {{$json[\"Image Style\"]}}\n\nRequirements:\n- Write an engaging Facebook caption (100–150 words).\n- Write a detailed AI image prompt suitable for image generation.\n- Generate 5 relevant hashtags.\n- Keep the tone professional, trustworthy, and encouraging.\n- Focus on Kenyan SMEs and business growth.\n- Do not mention that the content was AI-generated.\n\nReturn ONLY raw JSON.\n\nDo NOT wrap the JSON in markdown.\n\nDo NOT use ```json.\n\nDo NOT add explanations.\n\nThe first character of your response must be {\n\nThe last character must be }\n\nReturn exactly this schema:\n\n{\n  \"caption\": \"\",\n  \"imagePrompt\": \"\",\n  \"hashtags\": [],\n  \"cta\": \"\"\n}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        416,
        0
      ],
      "id": "2091e3f0-3ee0-4fc8-a4c9-8155c4681cec",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "UG4cOfEjRnl7E5eR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $('Message a model').first().json.content.parts[0].text;\n\nconst data = JSON.parse(response);\n\nconst original = $('Get row(s) in sheet').first().json;\n\nreturn [\n  {\n    json: {\n      ID: original.ID,\n      \"Caption\": data.caption,\n      \"Image Prompt\": data.imagePrompt,\n      \"Hashtags\": data.hashtags.join(\" \"),\n      \"CTA\": data.cta\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        0
      ],
      "id": "0076de84-2efb-48dc-9c0f-09c89bef93c8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "15RG5k0Y1pcaB4p7UCGVnIBMZHau35dC3UECD1qKupFQ",
          "mode": "list",
          "cachedResultName": "AI Marketing Content Calendar",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15RG5k0Y1pcaB4p7UCGVnIBMZHau35dC3UECD1qKupFQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Content Calendar",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15RG5k0Y1pcaB4p7UCGVnIBMZHau35dC3UECD1qKupFQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Campaign",
              "displayName": "Campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Product",
              "displayName": "Product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audience",
              "displayName": "Audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Platform",
              "displayName": "Platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Goal",
              "displayName": "Goal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CTA",
              "displayName": "CTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image Style",
              "displayName": "Image Style",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image Prompt",
              "displayName": "Image Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hashtags",
              "displayName": "Hashtags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image URL",
              "displayName": "Image URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook Status",
              "displayName": "Facebook Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WhatsApp Status",
              "displayName": "WhatsApp Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TikTok Status",
              "displayName": "TikTok Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn Status",
              "displayName": "LinkedIn Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Published At",
              "displayName": "Published At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Log",
              "displayName": "Error Log",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        0
      ],
      "id": "b642d5fe-acc2-404a-a3ac-058cccb2f549",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "byYbhQKQheZxVNH6",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "edaf04d4-98e8-415f-a7d8-d31b0e2ecb22",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3bbed0e916b85e6a8cd0309c50c7f2678ea6fffdbbd9428c24b3063e898829be"
  },
  "nodeGroups": [],
  "id": "xBLT7kaKVZiGzXWt",
  "tags": []
}