workflows/01_Content_Generator_v1.json
{
  "name": "01_Content_Generator_v1",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "63a12ab6-68b5-4a51-972e-ccca97975f3a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/15RG5k0Y1pcaB4p7UCGVnIBMZHau35dC3UECD1qKupFQ/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Content Calendar",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15RG5k0Y1pcaB4p7UCGVnIBMZHau35dC3UECD1qKupFQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "6823b6e9-fe34-4ee0-8985-86613392250b",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "byYbhQKQheZxVNH6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are the AI Marketing Manager for Spread Capital, a Kenyan financial institution.\n\nGenerate a complete marketing campaign for the information below.\n\nCampaign: {{ $('Get row(s) in sheet').item.json.Campaign }}\n\nProduct: {{ $('Get row(s) in sheet').item.json.Product }}\n\nAudience: {{ $('Get row(s) in sheet').item.json.Audience }}\n\nPlatform: {{ $('Get row(s) in sheet').item.json.Platform }}\n\nTopic: {{ $('Get row(s) in sheet').item.json.Topic }}\n\nGoal: {{ $('Get row(s) in sheet').item.json.Goal }}\n\nCTA: {{ $('Get row(s) in sheet').item.json.CTA }}\n\nImage Style: {{ $('Get row(s) in sheet').item.json[\"Image Style\"] }}\n\nReturn ONLY valid JSON.\n\n{\n  \"headline\": \"\",\n  \"subHeadline\": \"\",\n  \"caption\": \"\",\n  \"imagePrompt\": \"\",\n  \"overlayText\": \"\",\n  \"designStyle\": \"\",\n  \"imageType\": \"\",\n  \"hashtags\": [],\n  \"cta\": \"\"\n}\n\nRules:\n\nCreate a short, bold headline.\n\nCreate a supporting sub headline.\n\nCaption should be engaging and professional.\n\nThe image prompt should describe a realistic Kenyan marketing scene suitable for advertising.\n\nOverlay text should be short enough to appear on the poster.\n\nDesign style should describe the overall visual style.\n\nImage type should be one of:\nOffice\nBusiness Meeting\nConstruction\nRetail\nAgriculture\nTransport\nTechnology\nCorporate\nEntrepreneur\n\nReturn ONLY JSON."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        416,
        0
      ],
      "id": "2091e3f0-3ee0-4fc8-a4c9-8155c4681cec",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "UG4cOfEjRnl7E5eR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the AI response\nlet response = $('Message a model').first().json.content.parts[0].text;\n\n// Remove Markdown code fences if Gemini added them\nresponse = response\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\n// Parse the cleaned JSON\nconst data = JSON.parse(response);\n\n// Original Google Sheets row\nconst original = $('Get row(s) in sheet').first().json;\n\n// Return structured data\nreturn [\n  {\n    json: {\n      ID: original.ID,\n\n      \"Headline\": data.headline,\n      \"Sub Headline\": data.subHeadline,\n      \"Caption\": data.caption,\n      \"Image Prompt\": data.imagePrompt,\n      \"Overlay Text\": data.overlayText,\n      \"Design Style\": data.designStyle,\n      \"Image Type\": data.imageType,\n      \"Hashtags\": data.hashtags.join(\" \"),\n      \"CTA\": data.cta,\n\n      \"AI Generated\": \"Yes\",\n      \"Processing Stage\": \"Content Generated\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        0
      ],
      "id": "0076de84-2efb-48dc-9c0f-09c89bef93c8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "15RG5k0Y1pcaB4p7UCGVnIBMZHau35dC3UECD1qKupFQ",
          "mode": "list",
          "cachedResultName": "AI Marketing Content Calendar",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15RG5k0Y1pcaB4p7UCGVnIBMZHau35dC3UECD1qKupFQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Content Calendar",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15RG5k0Y1pcaB4p7UCGVnIBMZHau35dC3UECD1qKupFQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Campaign",
              "displayName": "Campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Product",
              "displayName": "Product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audience",
              "displayName": "Audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Platform",
              "displayName": "Platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Goal",
              "displayName": "Goal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CTA",
              "displayName": "CTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image Style",
              "displayName": "Image Style",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image Prompt",
              "displayName": "Image Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hashtags",
              "displayName": "Hashtags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image URL",
              "displayName": "Image URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook Status",
              "displayName": "Facebook Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WhatsApp Status",
              "displayName": "WhatsApp Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TikTok Status",
              "displayName": "TikTok Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn Status",
              "displayName": "LinkedIn Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Published At",
              "displayName": "Published At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Log",
              "displayName": "Error Log",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        0
      ],
      "id": "b642d5fe-acc2-404a-a3ac-058cccb2f549",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "byYbhQKQheZxVNH6",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2557bf44-ec42-4e37-99c0-c48709bf41e6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3bbed0e916b85e6a8cd0309c50c7f2678ea6fffdbbd9428c24b3063e898829be"
  },
  "nodeGroups": [],
  "id": "xBLT7kaKVZiGzXWt",
  "tags": []
}