workflows/02_Creative_Engine_v1.json
{
  "name": "02_Creative_Engine_v1",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "5304686d-7c8c-49b1-b480-08b5b425da68",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15RG5k0Y1pcaB4p7UCGVnIBMZHau35dC3UECD1qKupFQ",
          "mode": "list",
          "cachedResultName": "AI Marketing Content Calendar",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15RG5k0Y1pcaB4p7UCGVnIBMZHau35dC3UECD1qKupFQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Content Calendar",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15RG5k0Y1pcaB4p7UCGVnIBMZHau35dC3UECD1qKupFQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "2b4668f7-58fe-4432-bd9f-fca4d225f966",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "byYbhQKQheZxVNH6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2092e833-f6af-4f28-b28f-514f641788a4",
              "leftValue": "={{$json[\"AI Generated\"]}}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cec27884-6d87-4f90-b3de-41269687721c",
              "leftValue": "={{$json[\"Image Generated\"]}}",
              "rightValue": "No",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "371286e1-b395-45b6-bde1-397434a86d16",
      "name": "If"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cCa310Ov4bgrmAKD",
          "mode": "list",
          "cachedResultUrl": "/workflow/cCa310Ov4bgrmAKD",
          "cachedResultName": "03_Campaign_Builder_v1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        688,
        -16
      ],
      "id": "7ef1fd1a-1fee-49bb-b6df-5451abcbe104",
      "name": "Launch Campaign Builder"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Launch Campaign Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b693fc43-a026-467b-92f7-a078543ce2b7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3bbed0e916b85e6a8cd0309c50c7f2678ea6fffdbbd9428c24b3063e898829be"
  },
  "nodeGroups": [],
  "id": "3IYNbPhJJc5fACT2",
  "tags": []
}